version: "3.8"

services:
  web:
    build: .
    container_name: cicd_web
    ports:
      - "8085:80"
    depends_on:
      - mysql
    restart: always

  mysql:
    image: mysql:8.0
    container_name: cicd_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: demo_db
      MYSQL_USER: demo_user
      MYSQL_PASSWORD: demo123
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: cicd_phpmyadmin
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root123
    ports:
      - "8086:80"
    depends_on:
      - mysql

volumes:
  mysql_data:
