name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Validate required files
        run: |
          test -f index.html
          test -f about.html
          test -f contact.html
          test -f assets/style.css
          test -f assets/app.js
