name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  html-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: List project files
        run: |
          ls -la
          find . -type f

      - name: Basic HTML check
        run: |
          test -f index.html
          test -f about.html
          test -f contact.html
